* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
}
.Header-comp {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: black;
  color: white;
  padding: 0 20px;
}
.Nav-comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
.nav-list {
  display: flex;
  gap: 20px;
  font-size: 18px;
  align-items: center;
}
.nav-item:hover {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10%;
}
.nav-icons {
  display: flex;
  gap: 20px;
}
.main-comp {
  margin: 10px 20px;
  display: flex;
  gap: 30px;
}
.main-section {
  flex: 1;
}
.main-pic {
  flex: 1;
}
.product {
  margin: 30px 0;
  background-color: rgb(240, 227, 227);
  display: flex;
  gap: 40px;
  justify-content: center;
  box-shadow: 12px 12px 2px 1px rgb(204, 193, 193);
}
.productList {
  margin: 30px;
  background-color: rgb(191, 201, 197);
  border-radius: 20px;
}
.featured-product {
  letter-spacing: 2px;
}
